html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

header h1 {
  color: rgba(45, 164, 125, 0.9);
  text-align: center;
}

body {
 
  font-size: 16px;
  
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
}

a {
  
  text-decoration: underline;
  outline: 0;
}
a:hover, a:focus {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  margin: 0 0 10px 0;
}

.flipbox .front, .flipbox .back {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 200px;
  height: 180px;
  border-radius: 7px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flipbox {
  float: left;
  width: 200px;
  height: 180px;
  margin: 10px;
}
.flipbox .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  background: rgba(45, 164, 125, 0.9);
}
.flipbox .front > h2 {
  font-size: 22px;
  width: 100%;
  margin: 0 0 10px 0;
}
.flipbox .front > i.fa {
  font-size: 3em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.flipbox .front > img {
  height: 49px;
  width: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.flipbox .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: #eeaf11;
}
.flipbox .back > a {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
}
.flipbox:hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.flipbox:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}



* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container header {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container header h3 {
  margin-left: 45px;
  font-weight: 700;
}
.container header nav {
  margin-right: 45px;
}
.container header nav a {
  text-decoration: none;
  margin-left: 30px;
  color: black;
  font-weight: 500;
  font-size: 14px;
}
.container header nav a:hover {
  color: #0a7791;
}
.container header nav .login {
  border-left: 1px solid grey;
  padding-left: 20px;
}